/* General Styling: Set up base styles and fonts */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
    line-height: 1.5;
}

h2 {
    font-weight: 500;
    font-size: medium;
    line-height: 1.5;
}

h3 {
    font-weight: 500;
    font-size: small;
    line-height: 1.5;
}

/* Navigation Bar: Customize the nav bar */
nav {
    background-color: #5F9275;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #5F9275;
    border-radius: 5px;
}

/* Footer: Customize footer styles */
footer {
    background-color: #5F9275;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/* Intro Section */
.intro {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

.intro .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    color: #7f8c8d;
}

/* Projects Section in index */
.projects {
    padding: 40px 0;
}

.projects .project {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects .project img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.projects .project a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #5F9275;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    gap: 20px;
    transition: background-color 0.3s ease;
}

.projects .project a:hover {
    background-color: #5F9275;
}

/* LinkedIn Badge Section in Contact */
.linkedin .badge-base__link {
    color: #ffffff;
    text-decoration: none;
    pointer-events: none;
}

.linkedin .badge-base {
    display: inline-block;
    text-align: center;
}

/* About page styling */
.about {
    background-color: #ffffff;
    text-align: center;
}

.about .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

hr {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 35px;
}

ul {
    list-style-type: square;
}

/* Project Detail Section */
.project-detail h1,
.project-detail h2,
.project-detail p,
.project-detail iframe {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

/* Project Report Section */
.project-report h1,
.project-report h2,
.project-report p,
.project-report ul,
.project-report ol {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 1.5;
}

.project-report .image-text-container {
    display: inline-flex;
    align-items: center;
    gap: 1px;
}

.project-report .text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Images styling in reports */
.project-report img {
    margin-left: 70px;
    margin-right: 70px;
    width: 500px;
}

/* GitHub Link */
.github-link {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.github-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5F9275;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.github-link a:hover {
    background-color: #5F9275;
}

/* PDF Embed Section */
.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 1000px;
}

.pdf-container iframe {
    width: 100%;
    height: 90vh;
    border: none;
}

/* Excel Embed Section */
.iframe-container {
    width: 100%;
    max-width: calc(100% - 120px);
    margin: 0 auto;
    padding: 0 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.responsive-iframe {
    width: 100%;
    height: 90vh;
    border: none;
}
